@model IEnumerable<Project>
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project List</h2>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">

                <img class="card-img-top" src="https://www.publichealthnotes.com/wp-content/uploads/2020/03/project-planning-header@2x.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.NeededAmount)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Creator)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.StartingDate)</p>
                    <a href="@Url.Action("SingleProjectView", new { id = item.ProjectId})" class="btn btn-sm btn-outline-primary" id="SingleProjectView">Go to this Project!</a>

                </div>
            </div>
        }
        @*@foreach (var item in Model)
            {
                <div class="col-md-3">
                    <h4>@Html.ActionLink(item.Name, "SingleProjectView", new { id = item.ProjectId })</h4>
                    <a href="">
                    </a>
                </div>
            }*@
    </div>
</div>

@*@Html.ActionLink(item.Name, "SingleProjectView", new { id = item.ProjectId })*  den kserw giati@*@
