@model IEnumerable<Project>
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project List</h2>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">

                <img class="card-img-top" src="https://www.publichealthnotes.com/wp-content/uploads/2020/03/project-planning-header@2x.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.NeededAmount)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Creator)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.StartingDate)</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">Go to this Project!</a>

                </div>
            </div>
        }
    </div>
</div>

@*<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">

                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" 
                             role="img" aria-label="Placeholder: Thumbnail">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c">
                            </rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                            <p class="card-text"> @Html.DisplayFor(modelItem => item.NeededAmount)</p>
                            <p class="card-text"> @Html.DisplayFor(modelItem => item.Creator)</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Fund</button>
                                </div>
                                <small class="text-muted">@Html.DisplayFor(modelItem => item.StartingDate)</small>
                            </div>
                        </div>
                    </div>
                </div>
                }
        </div>
    </div>
</div>*@
