@using CrowdFundingCore.Models
@model CrowdFundingCore.Models.Project
@{
    ViewData["Title"] = "CreateProject";
}

<div class="text-center">
    <h1>Create a Project</h1>
</div>

<div class="row">
    <div class="col col-md-2"></div>
    <div class="tab col-md-8">
        <form data-form="0">

            <div class="form-group">
                <label asp-for="@Model.ProjectTitle" class="control-label">Project Title</label>
                <input asp-for="@Model.ProjectTitle" class="form-control" type="text" required />
                <div class="invalid-feedback">
                    Please provide a valid Name.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ProjectDescription" class="control-label">Short Description</label>
                <input asp-for="@Model.ProjectDescription" class="form-control" type="text" required />
                <div class="invalid-feedback">
                    Please provide a Description.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ProjectTargetAmount" class="control-label">Target Amount</label>
                <input asp-for="@Model.ProjectTargetAmount" class="form-control" type="number" required />
                <div class="invalid-feedback">
                    Please provide a NeededAmount.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ProjectEndingDate" class="control-label">Project Ending Date</label>
                <input asp-for="@Model.ProjectEndingDate" class="form-control" required />
                <div class="invalid-feedback">
                    Please provide a valid ProjectEndingDate.
                </div>
            </div>

            
            <div class="form-group">
                <label asp-for="@Model.ProjectCategory" class="control-label"></label>
                <select class="form-control" id="ProjectCategory">
                    @{
                        var categories = Enum.GetValues(
                            typeof(CrowdFundingCore.Models.ProjectCategory))
                            .Cast<CrowdFundingCore.Models.ProjectCategory>();
                        @*<option value="@Model.ProjectCategory.ToString()" selected>@Model.ProjectCategory.ToString()</option>*@
                        foreach (var category in categories)
                        {
                            <option  value="@category">@category</option>
                        }
                    }
                </select>
                <span asp-validation-for="@Model.ProjectCategory" class="text-danger"></span>
            </div>

            <h4 class="col-md-12 text-info text-center font-weight-bold p-2">
                Add Multimedia:
            </h4>


            <div class="row">
                <label>Project Profile Photo</label>
                <input class="form-control col-md-10" name="URL" type="url" required pattern="https://.*"
                       placeholder="Project profile photo..." id="ProjectPhotoProfile" />
                <span asp-validation-for="@Model.ProjectMultimedia" class="text-danger"></span>
            </div>

            <div class="row">
                <select name="MultimediaType" class="form-control col-md-2" id="MultimediaTypes">
                    @{
                        var multimediatypes = Enum.GetValues(
                            typeof(CrowdFundingCore.Models.MultimediaTypes))
                            .Cast<CrowdFundingCore.Models.MultimediaTypes>();

                        foreach (var type in multimediatypes)
                        {
                            <option value="@type">@type</option>
                        }
                    }
                </select>
                <input name="MediaURL" type="text" class="form-control col-md-10" placeholder="Media Title" id="MultimediaURL" />
            </div>

            <div class="col col-md-12 d-flex justify-content-end pr-0">
                <input type="button" class="btn btn-primary" onclick="submitProjectToServer()" value="Submit">
            </div>

        </form>
    </div>
</div>
