@model CrowdFundingAPI.Models.Project
@{
    ViewData["Title"] = "CreateProject";
}

<div class="text-center">
    <h1>Create a Project</h1>
</div>

<div class="row">
    <div class="col col-md-2"></div>
    <div class="tab col-md-8">
        <form data-form="0">

            <div class="form-group">
                <label asp-for="@Model.ProjectTitle" class="control-label">Project Title</label>
                <input asp-for="@Model.ProjectTitle" class="form-control" type="text" required />
                <div class="invalid-feedback">
                    Please provide a valid Name.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ProjectDescription" class="control-label">Short Description</label>
                <input asp-for="@Model.ProjectDescription" class="form-control" type="text" required />
                <div class="invalid-feedback">
                    Please provide a Description.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ProjectTargetAmount" class="control-label">Target Amount</label>
                <input asp-for="@Model.ProjectTargetAmount" class="form-control" type="number" required />
                <div class="invalid-feedback">
                    Please provide a NeededAmount.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EndingDate" class="control-label">Ending Date</label>
                <input asp-for="@Model.EndingDate" class="form-control" required />
                <div class="invalid-feedback">
                    Please provide a valid EndingDate.
                </div>
            </div>

            <div class="form-group">
                @Html.DropDownList("ProjectCategory", new List<SelectListItem>
           {
               new SelectListItem { Text = "Sport", Value = "Sport", Selected=true},
               new SelectListItem { Text = "History", Value = "History"},
               new SelectListItem { Text = "Technology", Value = "Technology"},
               new SelectListItem { Text = "Pourgoutzidou", Value = "Pourgoutzidou"},
               new SelectListItem { Text = "Art", Value = "Art"}
           }, "Select Category")
            </div>

            <div class="col col-md-12 d-flex justify-content-end pr-0">
                <input type="button" onclick="submitProjectToServer()" value="Submit">
            </div>

        </form>
    </div>
</div>