@using CrowdFundingCore.Models
@model CrowdFundingCore.Models.Project
@{
    ViewData["Title"] = "CreateProject";
}


<div class="container">
    <div class="text-center">
        <h1>Create Project</h1>
    </div>

    <div class="modal-body row">
        <div class="col-md-6">
            <!-- Your first column here -->
            <form data-form="0" id="crproj">

                <div class="form-group">
                    <label asp-for="@Model.ProjectTitle" class="control-label">Project Title</label>
                    <input asp-for="@Model.ProjectTitle" class="form-control" type="text" required placeholder="Give your project a Title..." />
                    <span asp-validation-for="@Model.ProjectTitle" class="text-danger"></span>
                    <div class="invalid-feedback">
                        Please provide a valid Name.
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ProjectDescription" class="control-label">Short Description</label>
                    <textarea asp-for="@Model.ProjectDescription" class="form-control text-wrap" type="text" 
                              style="resize: vertical; min-height: 70px;"
                              placeholder="Give your project a short description..." 
                              required rows="4" cols="50" name="description" form="crproj"></textarea>
                    <div class="invalid-feedback">
                        Please provide a Description.
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ProjectTargetAmount" class="control-label">Target Amount</label>
                    <input asp-for="@Model.ProjectTargetAmount" class="form-control" type="number" required placeholder="The amount of money this project needs..." />
                    <div class="invalid-feedback">
                        Please provide a NeededAmount.
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ProjectEndingDate" class="control-label">Project Ending Date</label>
                    <input asp-for="@Model.ProjectEndingDate" class="form-control" required />
                    <div class="invalid-feedback">
                        Please provide a valid ProjectEndingDate.
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="@Model.ProjectCategory" class="control-label"></label>
                    <select class="form-control" id="ProjectCategory">
                        @{
                            var categories = Enum.GetValues(
                                typeof(CrowdFundingCore.Models.ProjectCategory))
                                .Cast<CrowdFundingCore.Models.ProjectCategory>();
                            <option selected="selected" disabled hidden>---Select Category---</option>
                            @*<option value="@Model.ProjectCategory.ToString()" selected>@Model.ProjectCategory.ToString()</option>*@
                            foreach (var category in categories)
                            {
                                <option value="@category">@category</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="@Model.ProjectCategory" class="text-danger"></span>
                </div>





            </form>

        </div>
        <div class="col-md-6">
            <!-- Your second column here -->
            <form data-form="0">


                <div class="form-group">
                    <label class="control-label">Project Profile Photo</label>
                    <input class="form-control" name="URL" type="url" required pattern="https://.*"
                           placeholder="Project profile photo URL..." id="ProjectPhotoProfile" />

                </div>
                <div class="form-group">
                    <label class="control-label">Add multimedia</label>
                    <div class="input-group">
                        <select name="MultimediaType" class="form-control col col-lg-2" id="MultimediaTypes">
                            @{
                                var multimediatypes = Enum.GetValues(
                                    typeof(CrowdFundingCore.Models.MultimediaTypes))
                                    .Cast<CrowdFundingCore.Models.MultimediaTypes>();

                                foreach (var type in multimediatypes)
                                {
                                    <option value="@type">@type</option>
                                }
                            }
                        </select>
                        <input class="form-control" name="URL" type="url" required pattern="https://.*"
                               placeholder="Multimedia URL..." id="MultimediaURL" />

                    </div>
                </div>
                @*<form data-form="0">
                    <div class="form-group">
                        <label>Project Profile Photo</label>
                        <input class="form-control" name="URL" type="url" required pattern="https://.*"
                               placeholder="Project profile photo URL..." id="ProjectPhotoProfile" />
                        <span asp-validation-for="@Model.ProjectMultimedia" class="text-danger"></span>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <select name="MultimediaType" class="form-control" id="MultimediaTypes">
                                @{
                                    var multimediatypes = Enum.GetValues(
                                        typeof(CrowdFundingCore.Models.MultimediaTypes))
                                        .Cast<CrowdFundingCore.Models.MultimediaTypes>();

                                    foreach (var type in multimediatypes)
                                    {
                                        <option value="@type">@type</option>
                                    }
                                }
                            </select>
                            <input name="MediaURL" type="text" class="form-control" placeholder="Multimedia URL..." id="MultimediaURL" />
                        </div>
                    </div>*@
            </form>





            <div class="row">

            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <input type="button" class="btn btn-lg btn-primary" onclick="submitProjectToServer()" value="Submit">
        </div>

    </div>
</div>











<div class="row">
    <div class="col col-md-2"></div>
    <div class="tab col-md-8">

    </div>
</div>
