@using CrowdFundingCore.Models
@model CrowdFundingCore.Models.Project
@{
    ViewData["Title"] = "New Project";
}

<div class="container">
    <div class="text-center">
        <h1>Create Project</h1>
    </div>
    <form data-form="0" id="crproj" class="js-project-add-form">
        <div class="modal-body row">
            <div class="col-md-6">
                <!-- Your first column here -->
                @*<form data-form="0" id="crproj" class="js-project-add-form">*@
                <div class="form-group">
                    <label asp-for="@Model.ProjectTitle" class="control-label">Project Title</label>
                    <input asp-for="@Model.ProjectTitle" class="form-control" type="text"
                           required placeholder="Give your project a Title..."
                           data-val="true" data-val-required="Project Title is required" />
                    @Html.ValidationMessageFor(m => m.ProjectTitle)

                </div>
                <div class="form-group">
                    <label asp-for="@Model.ProjectDescription" class="control-label">Short Description</label>
                    @*<textarea style="resize:vertical; min-height: 200px;"
                        asp-for="@Model.ProjectDescription" class="form-control text-wrap" type="text"
                        placeholder="Give your project a short description..." required rows="4" cols="50"
                        name="description" form="crproj"
                        data-val="true" data-val-required="Project Description is required"></textarea>*@
                    @Html.TextAreaFor(m => m.ProjectDescription, new
                    {
                        rows = "10",
                        cols = "150",
                   @class = "form-control text-wrap",
                        @maxlength = "10000",
                   @style = "resize: vertical; min-height: 200px;",
                   @placeholder = "Give your project a short description..."
               })
                    @Html.ValidationMessageFor(m => m.ProjectDescription)
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ProjectTargetAmount" class="control-label">Target Amount</label>
                    <input asp-for="@Model.ProjectTargetAmount" class="form-control" type="number"
                           required placeholder="The amount of money this project needs..." min="0"
                           data-val="true" data-val-required="Project Target Amount is required" />
                    @Html.ValidationMessageFor(m => m.ProjectTargetAmount)

                </div>
                <div class="form-group">
                    <label asp-for="@Model.ProjectEndingDate" class="control-label">Project Ending Date</label>
                    <input type="date" min="2020-06-09" asp-for="@Model.ProjectEndingDate"
                           value="2020-06-10" class="form-control" required
                           data-val="true" data-val-required="Project Ending Date is required" />
                    @Html.ValidationMessageFor(m => m.ProjectEndingDate)
                </div>

                <div class="form-group">
                    <label asp-for="@Model.ProjectCategory" class="control-label">Project Category</label>
                    <div class="dropdown">
                        @Html.DropDownListFor(model => model.ProjectCategory,
                                      new SelectList(Enum.GetValues(
                        typeof(CrowdFundingCore.Models.ProjectCategory))
                        .Cast<CrowdFundingCore.Models.ProjectCategory>()),
                                     "-- Please Select --")
                        <div>
                            @Html.ValidationMessageFor(m => m.ProjectCategory)
                        </div>
                    </div>
                </div>
                @*</form>*@

            </div>
            <div class="col-md-6">
                <!-- Your second column here -->
                @*<form data-form="0" class="js-project-add-form">*@

                <div class="form-group">

                    <label class="control-label">Project Profile Photo</label>
                    <input asp-for="@Model.ProjectMultimedia" class="form-control" name="URL" type="file"
                           required
                           placeholder="Project profile photo URL..."
                           id="MultimediaURL"
                           onchange="readURL(MultimediaURL)"
                           data-val="true" data-val-required="Project Profile Photo is required" />
                    @Html.ValidationMessageFor(m => m.ProjectMultimedia)
                    <span asp-validation-for="@Model.ProjectMultimedia" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <img class="img-fluid single-project-cover" id="imgpreview" src="#"
                         alt="" />
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <input type="button" class="btn btn-lg btn-primary" onclick="submitProjectToServer()" value="Submit">
            </div>

        </div>
    </form>
</div>