@model CrowdFundingCore.Models.Project


@{
    ViewData["Title"] = "Edit Project";
}

    <div class="text-center">
        <h1>Edit Project</h1>
    </div>
<hr />
<div class="row">
    <div class="container" style="width: 800px;">
        <form asp-action="EditProject" class="js-project-edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.ProjectId" id="ProjectId" />

            <div class="form-group">
                <label asp-for="@Model.ProjectTitle" class="control-label">Project Title</label>
                <input asp-for="@Model.ProjectTitle" class="form-control" id="ProjectTitle"
                       required data-val="true" data-val-required="Project Title is required" />
                @Html.ValidationMessageFor(m => m.ProjectTitle)
            </div>

            <div class="form-group">
                <label asp-for="@Model.ProjectDescription" class="control-label">Description</label>
                <textarea asp-for="@Model.ProjectDescription" class="form-control textarea text-wrap"
                          style="resize: vertical; min-height: 200px;"
                          id="ProjectDescription"></textarea>
                <span asp-validation-for="@Model.ProjectDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ProjectTargetAmount" class="control-label">Target Amount</label>
                <input class="form-control" data-val="true" required data-val-required="Project Target Amount is required"
                       value="@(Model.ProjectTargetAmount.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture))"
                       name="@Html.NameFor(m => m.ProjectTargetAmount)" id="ProjectTargetAmount" min="0" />
                @Html.ValidationMessageFor(m => m.ProjectTargetAmount)
            </div>
            <div class="form-group">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" asp-for="@Model.IsActive" id="IsActive" /> Active
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">

                    <label>
                        <input type="checkbox" asp-for="@Model.IsComplete" id="IsComplete" /> Complete
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ProjectEndingDate" class="control-label">Ending Date</label>
                <input asp-for="@Model.ProjectEndingDate" required data-val="true"
                       class="form-control" id="ProjectEndingDate"
                       data-val-required="Project Ending Date is required" />
                @Html.ValidationMessageFor(m => m.ProjectEndingDate)
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="@Model.ProjectCategory" class="control-label">Category</label>
                    <select name="@Model.ProjectCategory" class="form-control" id="ProjectCategory">
                        @{
                            var categories = Enum.GetValues(
                                typeof(CrowdFundingCore.Models.ProjectCategory))
                                .Cast<CrowdFundingCore.Models.ProjectCategory>();
                            <option value="@Model.ProjectCategory.ToString()" selected>@Model.ProjectCategory.ToString()</option>
                            foreach (var category in categories)
                            {
                                <option value="@category">@category</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="@Model.ProjectCategory" class="text-danger"></span>
                </div>

            </div>
            
            <div class="form-group">
                <a asp-action="SingleProject" asp-route-id="@Model.ProjectId" asp-controller="Project" class="btn btn-danger float-left">Cancel</a>
                <input type="button" class="btn btn-success float-right" value="Submit" onclick="doUpdateProject(@Model.ProjectId)">

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}