@model IEnumerable<CrowdFundingAPI.Models.Project>
@{
    ViewData["Title"] = "GetAllProjects";
}

<div class="text-center">
    <h1>View all Projects</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">

                <img class="card-img-top" src="https://www.publichealthnotes.com/wp-content/uploads/2020/03/project-planning-header@2x.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.ProjectTitle)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.ProjectDescription)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.ProjectTargetAmount)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Creator)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.CreationDate)</p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <a href="@Url.Action("SingleProject", new { id = item.ProjectId})" class="btn btn-sm btn-outline-primary float" id="SingleProjectView">Go to this Project!</a>

                </div>
            </div>
        }
    </div>
</div>