@*@model IEnumerable<CrowdFundingCore.Models.Project>*@
@model CrowdFundingMVC.ViewModels.ProjectsGridVM

@{
    ViewData["Title"] = "Projects List";
}

<div class="text-center">
    <h1>All Projects</h1>
</div>

    


<div class="container" style="width: 60rem;">
    <div style="width: 60rem;" class="row px-3 mt-3">
        <div>
            <a asp-action="CreateProject">New Project</a>
        </div>
        <div class="ml-auto">
            <form asp-controller="Project" asp-action="GetAllProjects" method="get">
                <select asp-for="ProjectCategory" asp-items="Model.Categories">
                    <option value="">All</option>
                </select>

                Title: <input type="text" asp-for="SearchString" />
                <input class="btn-outline-primary" type="submit" value="Filter" />
            </form>
        </div>

    </div>
    <div class="row">
        @foreach (var item in Model.Projects)
        {
            string projectTargetAmount = item.ProjectTargetAmount.ToString("0.##");
            var progress = Math.Round((item.ProjectCurrentAmount * 100) / item.ProjectTargetAmount, 2).ToString(System.Globalization.CultureInfo.InvariantCulture);


            var multi = item.ProjectMultimedia.LastOrDefault();
            var multiURL = multi.ProjectPhotoProfile;

            <div class="card mx-3 my-3" style="width: 18rem;">
                <img class="card-img-top img-fluid"
                     src="@multiURL"
                     alt="">

                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.ProjectTitle)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.ProjectDescription)</p>
                    <p class="card-text"> @projectTargetAmount</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.ProjectCreator)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.ProjectCreationDate.DateTime)</p>

                    <div class="text-center">@progress% funded</div>
                    <div class="progress bg-warning">
                        <div class="progress-bar-striped bg-danger"
                             role="progressbar"
                             aria-valuenow="@progress"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width:@progress%">
                        </div>
                    </div>
                    <p></p>
                    <a href="@Url.Action("SingleProject", new { id = item.ProjectId})"
                       class="btn btn-primary mx-auto d-block"
                       id="SingleProjectView">Go to this Project!</a>
                </div>
            </div>
        }
    </div>
</div>
