@*@model IEnumerable<CrowdFundingCore.Models.Project>*@
@model CrowdFundingMVC.ViewModels.ProjectCategoryViewModel

@{
    ViewData["Title"] = "Projects List";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateProject">Create New</a>
</p>
<form asp-controller="Project" asp-action="GetAllProjects" method="get">
    <p>

        <select asp-for="ProjectCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="container">
    <div class="row">
        @foreach (var item in Model.Projects)
        {
            string projectTargetAmount = item.ProjectTargetAmount.ToString("0.##");
            var progress = Math.Round((item.ProjectCurrentAmount * 100) / item.ProjectTargetAmount, 2).ToString(System.Globalization.CultureInfo.InvariantCulture);

            <div class="card" style="width: 18rem;">

                <img class="card-img-top" src="https://www.publichealthnotes.com/wp-content/uploads/2020/03/project-planning-header@2x.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.ProjectTitle)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.ProjectDescription)</p>
                    <p class="card-text"> @projectTargetAmount</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Creator)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.CreationDate)</p>

                    <div class="text-center">@progress% funded</div>
                    <div class="progress">
                        <div class="progress-bar bg-success"
                             role="progressbar"
                             style="width:@progress%;"
                             aria-valuenow="@progress"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                    <p></p>
                    <a href="@Url.Action("SingleProject", new { id = item.ProjectId})" class="btn btn-sm btn-outline-primary float" id="SingleProjectView">Go to this Project!</a>
                    <a href="@Url.Action("EditProject", new { id = item.ProjectId})" class="btn btn-sm btn-outline-primary float" id="EditProjectView">Edit!</a>

                </div>
            </div>
        }
    </div>
</div>