@model CrowdFundingMVC.ViewModels.ProjectsGridVM
@{
    ViewData["Title"] = "My Backed History";
    var count = @Model.Projects.Count();
}

<div class="text-center">
    <h1>My Backed History</h1>
</div>

<div class="container">
        <div class="text-center pb-2"><h4>Pledges</h4></div>
            <table class="sortable customers table backedtable table-striped table-container">
                <thead class="backedthead">
                    <tr class="backedtr">
                        <th scope="col">Title</th>
                        <th scope="col">Creator</th>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Backed Date</th>
                    </tr>
                </thead>
                <tbody class="backedtbody">
                    @{
                        decimal totalbackedamount1 = 0;
                    }
                    @foreach (var c in Model.BackedPledges.OrderByDescending(p => p.created_BackedPledge))
                    {
                        <tr class="backedtr">
                            <th scope="row"><a href="@Url.Action("SingleProject", new { id = c.BackedPledge.Project.ProjectId})"> @c.BackedPledge.Project.ProjectTitle</a></th>
                            <td>@c.BackedPledge.Project.ProjectCreator</td>
                            <td>@c.BackedPledge.Project.ProjectCategory</td>
                            <td>@c.BackedPledge.PledgePrice</td>
                            <td>@c.created_BackedPledge.DateTime</td>
                        </tr>
                        totalbackedamount1 += c.BackedPledge.PledgePrice;
                    }
                </tbody>
            </table>
        <div class="text-left"><small>Total Pledge Amount: @totalbackedamount1 €</small></div>
        @* End Pledge *@

        <div class="text-center"><h4>Funds</h4></div>
        <table class="sortable customers table backedtable table-striped table-container">
            <thead class="backedthead">
                <tr class="backedtr">
                    <th scope="col">Title</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Backed Date</th>
                </tr>
            </thead>
            <tbody class="backedtbody">
                @{
                    decimal totalbackedamount2 = 0;
                }

                @foreach (var c in Model.Funds.OrderByDescending(p => p.FundDateCreated))
                {
                    <tr class="backedtr">
                        <th scope="row"><a href="@Url.Action("SingleProject", new { id = c.Project.ProjectId})"> @c.Project.ProjectTitle</a></th>
                        <td>@c.Project.ProjectCreator</td>
                        <td>@c.Project.ProjectCategory</td>
                        <td>@c.FundAmount</td>
                        <td>@c.FundDateCreated.DateTime</td>
                    </tr>
                    totalbackedamount2 += c.FundAmount;
                }
            </tbody>
        </table>
        <div class="text-left"><small>Total Fund Amount: @totalbackedamount2 €</small></div>
</div>
@* Funds*@















@*<div class="row">
        @foreach (var item in Model.Projects)
        {
            string projectTargetAmount = item.ProjectTargetAmount.ToString("0.##");
            var progress = Math.Round((item.ProjectCurrentAmount * 100) / item.ProjectTargetAmount, 2).ToString(System.Globalization.CultureInfo.InvariantCulture);
            var multi = item.ProjectMultimedia.LastOrDefault();
            var multiURL = multi.MultimediaURL;
            string creationdateString = String.Format("{0:dd/MM/yyyy}", item.ProjectCreationDate);
            string endingdateString = String.Format("{0:dd/MM/yyyy}", item.ProjectEndingDate);

        <div class="cardGrid card mx-3 my-3 position-relative" style="width: 18rem;">
            @if (multiURL != null && multiURL != "")
            {
                <img class="card-img-top img-fluid"
                     src="@multiURL"
                     alt="Project Image">
            }
            else
            {
                <img class="card-img-top img-fluid"
                     src="~/img/coverproject.png"
                     alt="Project Image">
            }
        <div class="card-body">
            <small>
                <div class="cardTitle">
                    <h5 class="card-title text-center font-weight-bold"> @Html.DisplayFor(modelItem => item.ProjectTitle)</h5>
                </div>
                <div><span class="card-text font-weight-bold">Creator: </span><span>@Html.DisplayFor(modelItem => item.ProjectCreator)</span></div>
                <div><span class="card-text font-weight-bold">Category: </span><span>@Html.DisplayFor(modelItem => item.ProjectCategory)</span></div>
                <div><span class="card-text font-weight-bold">Creation Date: </span><span>@creationdateString</span></div>
                <div><span class="card-text font-weight-bold">Ending Date: </span><span>@endingdateString</span></div>
                <div><span class="card-text font-weight-bold">Target: </span><span>@projectTargetAmount €</span></div>
                <div class="text-center mt-3">@progress% funded</div>
            </small>
            @if (item.ProjectProgress >= 1 || item.IsComplete)
            {
                <small>
                    <div class="text-center mt-3">@progress% funded</div>
                </small>
                <div class="progress">
                    <div class="progress-bar bg-success"
                         role="progressbar"
                         aria-valuenow="@progress"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width:@progress%">
                    </div>
                </div>
            }
            else
            {
                <small>
                    <div class="text-center mt-3">@progress% funded</div>
                </small>
                <div class="progress">
                    <div class="progress-bar"
                         role="progressbar"
                         aria-valuenow="@progress"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width:@progress%">
                    </div>
                </div>
            }


            <p></p>
            <a href="@Url.Action("SingleProject", new { id = item.ProjectId})"
               class="btn btn-primary mx-auto d-block stretched-link"
               id="SingleProjectView">Go to this Project!</a>

        </div>
        </div>
        }
    </div>
</div>*@
