@model CrowdFundingAPI.Models.Project
@using Microsoft.AspNetCore.Identity
@inject UserManager<CrowdFundingAPI.Models.MyUsers> UserManager

@{
    ViewData["Title"] = "Project Details View";
    var pledges = Model.ProjectPledges.ToList();
}

<div class="text-center" id="@Model.ProjectId">
    <h1>Project Details</h1>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="well">
            @*<img src="https://www.publichealthnotes.com/wp-content/uploads/2020/03/project-planning-header@2x.png" style="width:25%" class="img-responsive" />*@
            <h5><label>Project Name:</label> @Model.ProjectTitle</h5>
            <h5><label>Creator:</label> @Model.Creator</h5>
            <h5><label>Needed Amount:</label> @(Model.ProjectTargetAmount.ToString("0.####"))</h5>
        </div>
        <h5>Description</h5>@Html.Raw(Model.ProjectDescription)
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        @if (@UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.Id == @Model.UserId)
        {
            <span class="input-group-text" id="">Title</span>
            <input type="text" class="form-control" placeholder="Title" id="PostTitle">
            <span class="input-group-text" id="">Description</span>
            <input type="text" class="form-control" placeholder="Description" id="PostDescription">
            <input type="button" onclick="submitPostToServer('@Model.ProjectId')" value="Submit Post">
        }

    <h1>
        @if (@UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.Id == @Model.UserId)
        {
            <a href="@Url.Action("CreatePledges", new { id = @Model.ProjectId})" class="btn btn-sm btn-outline-primary" id="GoToCreatePledges">Add Pledge!</a>
            @*<a href="@Url.Action("CreatePledges")" class="btn btn-sm btn-outline-primary" id="GoToCreatePledges">Add Pledge!</a>*@
        }
    </h1>
        <button type="submit" class="btn btn-primary" onclick="submitPledgeToServer( @Model.ProjectId, @Model.UserId)" id="@Model.ProjectId" name="fundmit5">Fund 5!</button>
        <button type="submit" class="btn btn-primary" onclick="submitPledgeToServer()" id="@Model.ProjectId" name="fundmit10">Fund 10!</button>
        <button type="submit" class="btn btn-primary" onclick="submitPledgeToServer()" id="@Model.ProjectId" name="fundmit220">Fund 20!</button>
    </div>
        <div class="col-sm-12 mb-2 p-2">
            @{
                foreach (var pledge in pledges)
                {
                    <div class="well m-2 pledge js-pledge">

                        <input type="hidden" value="@pledge.PledgeId" />

                        <div class="media">
                            <div class="media-body">

                                <h5 class="media-heading font-weight-bold text-info">
                                    @pledge.PledgePrice (@pledge.PledgePrice€)
                                </h5>

                                <span class="text-success">
                                    Reward:
                                    <span class="font-italic">
                                        @pledge.PledgeReward
                                    </span>
                                </span>

                                <p class="text-info mt-1">
                                    @pledge.PledgeDescription
                                </p>

                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
