@model CrowdFundingMVC.ViewModels.SingleProjectMV
@using Microsoft.AspNetCore.Identity
@inject UserManager<CrowdFundingAPI.Models.MyUsers> UserManager

@{
    ViewData["Title"] = "Project Details View";
    var pledges = Model.Project.ProjectPledges.ToList();
    TempData["projectId"] = @Model.Project.ProjectId;
}

<div class="text-center" id="@Model.Project.ProjectId">
    <h1>Project Details</h1>
</div>
<script type="text/javascript">
    function myFunc("@Model.Project.ProjectId") {
        alert("@Model.Project.ProjectId");
    }
</script>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            @*<img src="https://www.publichealthnotes.com/wp-content/uploads/2020/03/project-planning-header@2x.png" style="width:25%" class="img-responsive" />*@
            <h5><label>Project Name:</label> @Model.Project.ProjectTitle</h5>
            <h5><label>Creator:</label> @Model.Project.Creator</h5>
            <h5><label>Needed Amount:</label> @(Model.Project.ProjectTargetAmount.ToString("0.####"))</h5>
        </div>
        <h5>Description</h5>@Html.Raw(Model.Project.ProjectDescription)

        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        @if (@UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.Id == @Model.Project.UserId)
        {
            <span class="input-group-text" id="">Title</span>
            <input type="text" class="form-control" placeholder="Title" id="PostTitle">
            <span class="input-group-text" id="">Description</span>
            <input type="text" class="form-control" placeholder="Description" id="PostDescription">
            <input type="button" class="btn btn-dark" onclick="submitPostToServer(myFunc(this.@Model.Project.ProjectId);)" value="Submit Post">
        }
    </div>
    <div>
        @if (@UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.Id == @Model.Project.UserId)
        {
            <a href="@Url.Action("CreatePledges", new { id = @Model.Project.ProjectId })" class="btn btn-primary btn-lg" id="GoToCreatePledges">Add Pledge!</a>           
        }
    </div>
    <div>
        @foreach (var item in Model.Pledges)
        {
            <div class="card text-center" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.PledgeTitle)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.PledgeDescription)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.PledgePrice)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.PledgeReward)</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>

            </div>
        }
    </div>

</div>

<table class="table" name="Posts Table">
    <thead>
        <tr>
            <th>
                <label>Post Title</label>
            </th>
            <th>
                <label>Post Description</label>
            </th>
            <th>
                <label>Post Date Created</label>
            </th>
            <th>
                <label>Post Id</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                    <a asp-action="SinglePost" asp-route-id="@item.PostId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
