@model CrowdFundingMVC.ViewModels.EditPostVM
@{
    ViewData["Title"] = "Edit Post";
}


<div class="text-center">
    <h1>Edit this Post</h1>
</div>

<div class="row">
    <div class="col col-md-2"></div>
    <div class="tab col-md-8">
        <form data-form="0">
            <div class="form-group">
                <label asp-for="@Model.Post.PostDescription" class="control-label">Post Description</label>
                @*<textarea asp-for="@Model.Post.PostDescription" type="text"
        class="form-control textarea text-wrap" id="PostDescription" style="resize: vertical; min-height: 200px;"></textarea>*@
                @Html.TextAreaFor(m => m.Post.PostDescription, new
                    {
                        rows = "10",
                        cols = "150",
                   @class = "form-control text-wrap",
                        @maxlength = "10000",
                   @style = "resize: vertical; min-height: 200px;"
               })
                @Html.ValidationMessageFor(m => m.Post.PostDescription)
            </div>
        <div class="form-group">
            <a asp-action="SingleProject" asp-route-id="@Model.Project.ProjectId" asp-controller="Project" class="btn btn-danger float-left">Cancel</a>
            <input type="button" class="btn btn-success float-right" value="Submit" onclick="doUpdatePost(@Model.Post.PostId, @Model.Project.ProjectId)">
        </div>
        </form>
    </div>
</div>