@model CrowdFundingMVC.ViewModels.EditPostVM
@{
    ViewData["Title"] = "Edit Post";
}


<div class="text-center">
    <h1>Edit this Post</h1>
</div>

<div class="row">
    <div class="col col-md-2"></div>
    <div class="tab col-md-8">
        <form data-form="0">
            <div class="form-group">
                <label asp-for="@Model.Post.PostDescription" class="control-label">Post Description</label>
                <textarea asp-for="@Model.Post.PostDescription" type="text"
                          class="form-control textarea text-wrap" id="PostDescription" style="resize: vertical; min-height: 200px;"></textarea>
            </div>
            @*<div class="col col-md-12 d-flex justify-content-end pr-0">
                <input type="button" onclick="doUpdatePost(@Model.Post.PostId, @Model.Project.ProjectId)" value="Submit">
            </div>*@
        <div class="form-group">
            <a asp-action="SingleProject" asp-route-id="@Model.Project.ProjectId" asp-controller="Project" class="btn btn-danger float-left">Cancel</a>
            <input type="button" class="btn btn-success float-right" value="Submit" onclick="doUpdatePost(@Model.Post.PostId, @Model.Project.ProjectId)">
        </div>
        </form>
    </div>
</div>