@model Project

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Project Create Page</h1>
<h1 align="center"> Εισαγωγή Project</h1>

<div class="row">
    <div class="col col-md-2"></div>
    <div class="tab col-md-8">
        <form data-form="0">



            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NeededAmount" class="control-label"></label>
                <input asp-for="NeededAmount" class="form-control" />
            </div>

            <div class="form-group">
                @Html.DropDownList("ProjectCategory", new List<SelectListItem>
           {
               new SelectListItem { Text = "Sport", Value = "1", Selected=true},
               new SelectListItem { Text = "History", Value = "2"},
               new SelectListItem { Text = "Drama", Value = "3"}
           }, "Select Category")
            </div>

            <div class="col col-md-12 d-flex justify-content-end pr-0">
                <input type="button" onclick="submitProjectToServer()" value="Submit">
            </div>



            @*<div class="form-group">
                    @Html.TextAreaFor(c => c.Description,
                    new { @class = "form-control js-Description", placeholder = "Project description" })
                </div>

                <div class="form-group">
                    <div class="input-group-prepend">
                        @Html.TextBoxFor(c => c.NeededAmount,
                        new { @class = "form-control js-projectgoal", placeholder = "NeededAmount: " })
                        <span class="input-group-text">€</span>
                    </div>
                </div>

                <div class="form-group">
                    <select name="ProjectCategory" class="form-control">
                        @{ var categories = Enum.GetValues(
                                             typeof(CrowdFundingCH.Models.ProjectCategory))
                                             .Cast<CrowdFundingCH.Models.ProjectCategory>();
                            foreach (var category in categories)
                            {
                                <option value="@category">@category</option>
                            }
                        }
                    </select>
                </div>*@




        </form>
    </div>
</div>