@model CrowdFundingMVC.ViewModels.EditPledgeVM
@{
    ViewData["Title"] = "Edit Pledge";

}
@{
    var projectId = TempData["projectid"];
}
@*@{
        int projectId = ViewBag.projectID;
    }*@


<div class="text-center">
    <h1>Edit this Pledge</h1>
</div>

<div class="row">
    <div class="col col-md-2"></div>
    <div class="tab col-md-8">
        <form data-form="0">

            <div class="form-group">
                <label asp-for="@Model.Pledge.PledgeDescription" class="control-label">Pledge Description</label>
                <input class="form-control" type="text" required id="PledgeDescription" asp-for="@Model.Pledge.PledgeDescription" />
                <div class="invalid-feedback">
                    Please provide a NeededAmount.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Pledge.PledgePrice" class="control-label">Pledge Price</label>
                <input class="form-control" data-val="true" data-val-required="Field is required"
                       value="@(Model.Pledge.PledgePrice.ToString("N2", System.Globalization.CultureInfo.InvariantCulture))"
                       name="@Html.NameFor(m => m.Pledge.PledgePrice)" id="PledgePrice" min="0" />
                <div class="invalid-feedback">
                    Please provide a NeededAmount.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Pledge.PledgeReward" class="control-label">Pledge Reward</label>
                <input class="form-control" type="text" required id="PledgeReward" asp-for="@Model.Pledge.PledgeReward" />
                <div class="invalid-feedback">
                    Please provide a NeededAmount.
                </div>
            </div>
            <div>
                <a asp-action="SingleProject" asp-controller="Project"
                   asp-route-id="@Model.Project.ProjectId" class="btn btn-danger float-left">Cancel</a>
                <input type="button" class="btn btn-success float-right" onclick="doUpdatePledge(@Model.Pledge.PledgeId, @Model.Project.ProjectId)" value="Submit">
            </div>
        </form>
    </div>
</div>